.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: #f3f3f3;
}

.register-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  label {
    display: block;
    margin-bottom: 1rem;
    font-size: 0.95rem;

    input {
      width: 100%;
      padding: 0.6rem;
      margin-top: 0.3rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }
  }

  button {
    width: 100%;
    padding: 0.8rem;
    background-color: #1d1825;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #666666;
    }
  }
}

// RESPONSIVE
@media (max-width: 768px) {
  .register-form {
    padding: 1.5rem;
    h2 {
      font-size: 1.6rem;
    }
    label {
      font-size: 0.9rem;
    }
    input,
    button {
      font-size: 0.95rem;
    }
  }
}

@media (max-width: 480px) {
  .register-form {
    padding: 1rem;

    h2 {
      font-size: 1.4rem;
    }

    input,
    button {
      font-size: 0.9rem;
    }
  }
}
